@media only screen and (max-width: 1440px) {
    .cookiesBaner {
        width: 85%;
        padding-left: 15%;
        padding-right: 15%;
    }
    .cookieText {
        width: 60vw;
        margin-bottom: 1px;
    }
    #closingCoockiesButton {
        right: 15%;
    }
}

@media only screen and (max-width: 1050px) {
    .cookiesBaner {
        width: 85%;
        padding-left: 10%;
        padding-right: 10%;
    }
    .cookieText {
        padding-top: 0.5em;
    }
    #closingCoockiesButton {
        right: 9%;
    }
}

@media only screen and (max-width: 720px) {
    .cookiesBaner {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .cookieText {
        padding-top: 0px;
        font-size: 13px;
    }
    #closingCoockiesButton {
        right: 8px;
    }
}

@media only screen and (max-width: 480px) {
    .cookieText {
        padding-top: 1px;
    }
    #closingCoockiesButton {
        right: 5px;
    }
}