// @media only screen and (max-width: 1115px) {}
@media only screen and (max-width: 1440px) {
    nav {
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media only screen and (max-width: 1050px) {
    nav {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media only screen and (max-width: 720px) {
    nav {
        padding-top: 3%;
        padding-left: 0%;
        background-color: transparent;
        font-size: 28px;
    }
    #checkManuVisible:checked>div {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: #0008;
    }
    #checkManuVisible {
        display: none;
        visibility: hidden;
    }
    #checkManuVisible:checked {
        background-color: var(--black-transp);
    }
    .inlineMoreButton {
        // background-color: var(--black);
        padding-left: 13px;
        background-color: transparent;
        display: block;
        visibility: visible;
        position: sticky !important;
        text-align: start;
    }
    #checkManuVisible:checked~.inlineMoreButton {
        color: var(--black);
    }
    #checkManuVisible:checked~.navElements {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: var(--black-transp);
    }
    .navElements {
        display: none;
        padding: 0%;
        // position: fixed;
        // flex-direction: column;
    }
    .navElements>i,
    .navElements>div {
        background-color: var(--black-transp);
        padding: 7%;
        // background-color: var(--black);
    }
}

@media only screen and (max-width: 480px) {
    nav {
        font-size: 40px;
    }
}