@media only screen and (max-width: 1440px) {
    .overlaidForm {
        left: 20%;
        right: 20%;
    }
}

@media only screen and (max-width: 1050px) {
    .overlaidForm {
        left: 15%;
        right: 15%;
    }
}

@media only screen and (max-width: 720px) {
    .overlaidForm {
        left: 1%;
        right: 1%;
    }
    #policyHeader {
        font-size: 24px;
        width: 80%;
    }
    #closePolicyButton {
        left: 70%;
        margin-top: 3px;
        font-size: 3em;
    }
}

@media only screen and (max-width: 480px) {
    #closePolicyButton {
        margin-top: 17px;
    }
}