@media only screen and (max-width: 720px) {
    .overlaidForm {
        left: 1%;
        right: 1%;
    }
    #policyHeader {
        width: 80%;
    }
    #closePolicyButton {
        left: 70%;
        margin-top: 15px;
    }
}