@media (max-width: 1440px) {
    nav {
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media (max-width: 1680px) {
    nav {
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media (max-width: 768px) {
    nav {
        padding-left: 3%;
        padding-right: 1%;
        font-size: 26px;
    }
}

@media (max-width: 870px) {
    nav {
        padding-top: 3%;
        padding-left: 3%;
        padding-right: 93%;
        background-color: transparent;
        font-size: 30px;
    }
    #checkManuVisible {
        display: none;
        visibility: hidden;
    }
    #checkManuVisible:checked {
        background-color: var(--black-transp);
    }
    .inlineMoreButton {
        // background-color: var(--black);
        background-color: transparent;
        //   color: var(--black);
        display: flex;
        visibility: visible;
        position: sticky;
        text-align: start;
    }
    #checkManuVisible:checked~.inlineMoreButton {
        color: var(--black);
    }
    #checkManuVisible:checked~.navElements {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: var(--black-transp);
    }
    .navElements {
        display: none;
        padding: 0%;
        // position: fixed;
        // flex-direction: column;
    }
    .navElements>i,
    .navElements>div {
        background-color: var(--black-transp);
        // background-color: var(--black);
    }
}

@media (max-width: 1680px) {
    main {
        background-color: rgb(250, 109, 109);
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media (max-width: 1440px) {
    main {
        background-color: rgb(255, 225, 126);
        margin-left: 15%;
        margin-right: 15%;
    }
    img {
        max-width: 580px;
    }
}

@media (max-width: 1080px) {
    .headerBackgroundImage {
        background-size: 190%;
    }
}

@media (max-width: 870px) {
    h2 {
        font-size: 34px;
    }
    main {
        background-color: rgb(161, 253, 119);
        margin-left: 5%;
        margin-right: 5%;
        font-size: 16px;
        line-height: 1.7em;
    }
    img {
        max-width: 480px;
    }
    h3 {
        margin-left: 5%;
    }
    .paragraf {
        text-align: left;
    }
    .divAutor {
        text-align: left;
        //   font-size: 16px;
        letter-spacing: 1px;
    }
}

@media (max-width: 768px) {
    main {
        background-color: rgb(129, 230, 255);
        margin-left: 1%;
        margin-right: 1%;
    }
}

@media (max-width: 743px) {
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 28px;
    }
}