@import 'MyCheckbox.scss';
.RodoAcceptCheckBox {
    margin-top: 5px;
}

.RodoAcceptCheckBox>label {
    font-size: 16px;
    font-family: Lato;
}

.downloadComponentsForm {
    margin-left: 20%;
    margin-right: 20%;
    display: block;
}

.downloadComponentsFormBody {
    display: flex;
}

#downloadForm {
    display: block;
}

.downloadInputRightBlock {
    padding-left: 3%;
}

.downloadInputBlock {
    font-size: 12px;
    font-family: Lato;
    letter-spacing: 1px;
    color: var(--lightGray);
}

.inputShortText {
    padding: 5px;
}

.inputShortText {
    display: block;
}

.inputRequiredStar {
    display: inline;
    color: red;
}

.inputRequiredText {
    color: red;
    letter-spacing: 1px;
}

@keyframes ClickEvent {
    0% {
        background-color: gray;
    }
    100% {
        background-color: var(--gray);
    }
}

.downloadButton {
    background-color: var(--gold);
    border: none;
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-top: 27px;
    padding: 20px 16px;
    outline: none;
    transition: 0.3s;
    cursor: pointer;
}

.downloadButton:hover {
    background-color: var(--lightGray);
    background-color: gray;
}

.downloadButton:active {
    animation-name: ClickEvent;
    animation-duration: 0.2s;
    animation-fill-mode: both;
}

@import './mobile/Download.mobile.scss'