footer {
    margin-top: 0.5cm;
    text-align: center;
    font-size: 12px;
    padding: 25px 0px 30px 0px;
}

footer>div {
    padding: 5px 0px 5px 0px;
}

.footerPolicy {
    padding: 15px 0px 25px 0px;
}

.footerLinks {
    color: var(--lightGray);
}

.footerLinks:hover {
    text-decoration: underline;
}

.footerLinks:active {
    color: var(--gold);
}

.footerCreatedInfo {
    font-style: italic;
    color: var(--lightGray);
}

@import './mobile/Footer.mobile.scss'