@keyframes WelcomeHeader {
    from {
        color: transparent;
    }
    to {
        color: var(--white);
    }
}

#animatedHeader1 {
    animation-duration: 3s;
    animation-name: WelcomeHeader;
}

#animatedHeader2 {
    animation-delay: 1s;
    animation-duration: 3s;
    animation-name: WelcomeHeader;
    animation-fill-mode: both;
}

header {
    position: relative;
    margin: 0px 0px 0px 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: var(--dark);
    color: var(--white);
}

.headerBackgroundImage {
    position: relative;
    background-color: black;
    background-image: url("/image/backgroundBaner_wv.jpg");
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 200px black;
    background-size: 150%;
}

.pageHeaders {
    font-weight: normal;
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 {
    font-family: lobster, sans-serif;
    font-size: 60px;
    font-style: italic;
    padding-left: 10%;
    padding-right: 10%;
}

h2 {
    font-family: arial, helvetica, sans-serif;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 28px;
    padding-left: 10%;
    padding-right: 10%;
}