@import 'Main.UpArrow.scss';
li {
    line-height: 1.7em;
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    padding-left: 5%;
}

ul>li {
    /* line-height: 1.4em; */
    letter-spacing: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5%;
    //  margin-right: 22px;
}

h3 {
    color: var(--gold);
    font-size: 26px;
    font-weight: bold;
    font-family: Lato, sans-serif;
    margin-left: 15%;
    margin-top: 50px;
    margin-bottom: 35px;
}

h4 {
    font-size: 22px;
    font-weight: bold;
    font-family: Lato, sans-serif;
    margin-top: 40px;
    padding-left: 5%;
}

h5 {
    margin-top: 0px;
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 1px;
    color: var(--gray);
    padding-left: 5%;
}

h3>div {
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 5px;
    padding-bottom: 5px;
}

main {
    background-color: var(--white);
    padding: 3%;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5em;
}

main>div {
    padding-left: 5%;
    padding-right: 5%;
}