@import 'AnimatedButton.scss';
#homeUpArrow {
    position: fixed;
    right: 25px;
    bottom: 70px;
    font-size: 3em;
    border-style: solid;
    border-color: transparent;
    border-radius: 50%;
    outline: none;
    text-align: center;
    vertical-align: 70%;
    width: 60px;
    height: 60px;
}

// #HomeUpArrow {
//     font-size: 6em;
//     width: 120px;
//     height: 120px;
//     top: 91%;
// }