nav {
    position: sticky;
    top: 0px;
    padding-left: 25%;
    padding-right: 25%;
    background-color: var(--black);
    color: var(--light);
    font-family: Lato, sans-serif;
    letter-spacing: 2px;
    z-index: 1000;
}

.navElements {
    display: flex;
    background-color: var(--black);
    flex-direction: row;
}

.navElementsColumn {
    position: fixed;
    flex-direction: column;
}

.inlineMoreButton,
#checkManuVisible {
    position: absolute;
    visibility: hidden;
    display: none;
    color: var(--lighterGray);
    //  height: 0px;
    //  width: 0px;
}

.navElements>i,
.navElements>div {
    background-color: var(--black);
    //  display: inline-block;
    //  display: flex;
    padding: 8px;
    cursor: pointer;
}

.navItems {
    padding: 8px;
    cursor: pointer;
}

.navItems>a {
    color: var(--light);
    text-decoration: none;
}

.navItems:hover {
    background-color: var(--gray);
}